$font-size:             18px            !default;
$line-height:           1.5             !default;

// just set the desired baseline unit here
// so we can use rem units to multiply it

%alpha {
    font-family: "Eczar", serif;
    font-weight: 700;
    color: $color-dark;
}

%beta {
    font-family: "Gentium Basic", serif;
}

%gama {
    font-family: "Woodford Bourne", serif;
}

html {
    font-size: percentage($baseline-unit/16px);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    @extend %beta;
    font-size: $font-size;
    line-height: $line-height;
}

b,
strong {
    font-weight: 400;
}

em,
i,
small {
    font-style: italic;
}

/* Headings */
h1 {
    @extend %alpha;
    @include font-size(48px);
    @include baseline(48px);
}

h2 {
    @extend %alpha;
    @include font-size(36px);
    @include baseline(36px);
}

h3 {
    @extend %alpha;
    @include font-size(24px);
    @include baseline(24px);
}

@include query-below($lap) {

    h1 {
        @include font-size(30px);
        @include baseline(30px);
    }

    h2 {
        @include font-size(24px);
        @include baseline(24px);
    }

    h3 {
        @include font-size(21px);
        @include baseline(21px);
    }
}


@mixin render-typography-styles() {
    h1          { @extend %h1           !optional; }
    h2          { @extend %h2           !optional; }
    h3          { @extend %h3           !optional; }
    h4          { @extend %h4           !optional; }
    h5          { @extend %h5           !optional; }
    h6          { @extend %h6           !optional; }

    p           { @extend %p            !optional; }

    a           { @extend %link         !optional; }

    blockquote  { @extend %blockquote   !optional; }
    pre         { @extend %pre          !optional; }
    table       { @extend %table        !optional; }

    dl          { @extend %dl           !optional; }
    ul          { @extend %ul           !optional; }
    ol          { @extend %ol           !optional; }
}

/* Paragraphs */
p {
    margin-top: 0;
    @include font-size(18px);

    @include rhythm(margin-bottom, 2);
}

a {
    color: $color-dark;

    &.big-link {
        font-family: 'Eczar';
        @include font-size(20px);
        color: $black;
        font-weight: 500;
    }
}

.wrap {
    // These are technically the same, but use both
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    // This is the dangerous one in WebKit, as it breaks things wherever
    word-break: break-all;
    // Instead use this non-standard one:
    word-break: break-word;

    // Adds a hyphen where the word breaks, if supported (No Blink)
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@include render-typography-styles();
